@media (prefers-color-scheme: light) {
  :root {
    --blue: hsl(212, 100%, 42%);
    --blue-darker: hsl(212, 100%, 33%);
    --danger: rgb(201, 28, 28);
    --bg-1: rgb(241, 241, 241);
    --bg-2: rgb(224, 224, 224);
    --bg-3: rgb(212, 212, 212);
    --text: rgb(53, 53, 53);
    --text-button: rgb(232, 230, 227);
    --text-light: rgb(112, 112, 112);
    --link: hsl(212, 100%, 42%);
    --link-hover: hsl(212, 100%, 33%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --blue: hsl(212, 100%, 32%);
    --blue-darker: hsl(212, 100%, 20%);
    --danger: rgb(201, 28, 28);
    --bg-1: rgb(27, 27, 29);
    --bg-2: rgb(37, 37, 37);
    --bg-3: rgb(46, 46, 46);
    --text: rgb(232, 230, 227);
    --text-button: rgb(232, 230, 227);
    --text-light: rgb(95, 95, 95);
    --link: hsl(212, 100%, 42%);
    --link-hover: hsl(212, 100%, 30%);
  }
}
